APP_ENV=

VLLM_BASE_URL=
VLLM_API_KEY=
VLLM_MODEL=

VLLM_LORA_ADAPTER_CHECKLIST=
VLLM_LORA_ADAPTER_EASYCONTRACT=

BACKEND_CALLBACK_BASE_URL=
BACKEND_INTERNAL_TOKEN=

HTTP_TIMEOUT_SEC=
EXTERNAL_RETRY_MAX_ATTEMPTS=
EXTERNAL_RETRY_BACKOFF_BASE_SEC=

OCR_API=

RABBITMQ_ENABLED=
RABBITMQ_URL=
RABBITMQ_PREFETCH_COUNT=
RABBITMQ_DECLARE_PASSIVE=
WORKER_RETRY_MAX_ATTEMPTS=
WORKER_RETRY_BACKOFF_BASE_SEC=

RABBITMQ_REQUEST_EXCHANGE_EASY_CONTRACT=
RABBITMQ_REQUEST_QUEUE_EASY_CONTRACT=
RABBITMQ_REQUEST_ROUTING_KEY_EASY_CONTRACT=

RABBITMQ_REQUEST_EXCHANGE_CHECKLIST=
RABBITMQ_REQUEST_QUEUE_CHECKLIST=
RABBITMQ_REQUEST_ROUTING_KEY_CHECKLIST=

RABBITMQ_CANCEL_EXCHANGE_EASY_CONTRACT=
RABBITMQ_CANCEL_QUEUE_EASY_CONTRACT=
RABBITMQ_CANCEL_ROUTING_KEY_EASY_CONTRACT=

RABBITMQ_RESULT_EXCHANGE=
RABBITMQ_RESULT_QUEUE=
RABBITMQ_RESULT_ROUTING_KEY=

EASY_CONTRACT_CANCEL_TTL_SEC=
EASY_CONTRACT_CANCEL_CLEANUP_INTERVAL_SEC=

VECTOR_DB_MODE=
VECTOR_DB_DIR=
VECTOR_DB_HOST=
VECTOR_DB_PORT=
VECTOR_DB_COLLECTION_CONTRACT=
VECTOR_DB_COLLECTION_CORPUS=
EMBEDDING_MODEL=
CORPUS_JSONL_PATH=
